
    .form-group {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .checkbox {
        margin: 20px;
    }

    .btn .btn-primary{
        margin: 20px;
    }

